
#searchbox{
    margin: auto;
    width: 550px;
    height: 35px;
    border: 1px solid #e0e0e0;

}

#logo{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 150px;
    padding: 10px;  
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}

input[type=submit]{
    height: 36px;
    padding: 0px 16px;
    background-color: #f0f0f0;
    font-size: 14px;
    margin: 11px 4px;
}

#navbar{
    position: absolute;
    width: 100%;
    right: 0;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;

}

li a:hover{
    text-decoration: underline;
}

/**
*{
    outline: 1px solid red;
}